/* CSS for Moving Meme Page */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Shadow */
}

#memeImage {
    width: 200px;
    height: auto;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Shadow */
    animation: blinker 1s infinite alternate; /* Blinking animation */
}

@keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
}
/* styles.css */
h1 {
    color: white;
}
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
